* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  height: 80px;
  padding: 8px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 8px 20px 0px rgb(5, 5, 5, 0.2)
}

.left,
.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bars {
  margin-right: 32px;
  font-size: 20px;
}

.nav__logo--wrapper{
  width: 240px;
}

.nav__logo {
  max-width: 100%
}

.btn{
  padding: 10px 20px;
  font-size: 16px;
  margin: 0 8px;
  cursor: pointer;
  border: 1px #e7e7e7 solid;
  border-radius: 4px;
  background-color: #e7e7e7;
  transition: opacity 300ms ease
}

.btn:hover{
  opacity: 70%
}

.register__btn{
  background-color: 	#7645d9;
  color: #fff
}

.login__btn{
  color: #7645d9;
  background-color: #fff;
}

.nav__pfp{
  padding: 10px 17px;
  font-size: 20px;
  margin: 0 8px;
  cursor: pointer;
  border: 1px #e7e7e7 solid;
  border-radius: 50%;
  color: #fff;
  background-color: #7645d9;  
}

.skeleton{
  background-color: #e7e7e7;
  opacity: 80%;
  margin: 0 8px;
}

.btn__skeleton{
  width: 100px;
  height: 40px;
}

.pfp__skeleton{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

